<footer>
	<p><a href="/">JSNode</a>|<span>专注Node Web开发</span></p>
</footer>
<div id="tip"></div>
<script src="/javascripts/global.js"></script>
<script src="/javascripts/jnbbs.js"></script>
</body>
</html>