<section class="page">
	<ul><!--
		--><li><span>首页</span></li><!--
		--><li><span>上一页</span></li><!--
		--><li><!--
			--><span><!--
				--><input class="jump-input" type="text" data-url=<%- "/users/" + username + url %> data-total-page=<%- totalPage %> value=<%- page %>>&nbsp;/&nbsp;<%- totalPage %><!--
			--></span><!--
		--></li><!--
		--><li>下一页</li><!--
--></ul>
</section>